.swiper {
  width: 880px;
  height: 80%;
  margin-top: 20px;
  /* border: 2px solid red; */
}

.swiper-slide {
  text-align: center;
  z-index: -1;
  /* font-size: 18px; */
  /* background: #fff; */

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  /* display: flex; */
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  width: 50vw;
  height: 80vh;
  /* object-fit: cover; */
  margin: auto;
  border-radius: 20px;
  z-index: -1;
}
