.footcont{

    background-color:rgb(243, 246, 248);
height: 72vh;
/* border: 2px solid red; */
font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
padding-top: 5px;
margin-top: 30px;
}

.footcontainer{
    /* border:1px solid #3f3d4a; */

    margin-top: 3%;
    display: flex;
    height: 382px;
}
.footOne{
     /* border:2px solid rgb(255, 0, 204); */
    width: 20%;
    margin-left: 3%;
    
}
.footTwo{
    /* border:2px solid rgb(0, 255, 38); */

    text-align: left;
    width: 88%;
    margin-left: 10%;

    
}

.footTwo p{
    color:black;
    font-size: 15px;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;

}
.imgfirst img{
    width: 70%;
    height: 16vh;
    margin-left: -20%;
    /* border:2px solid rgb(241, 138, 138); */

}
.footThree{
    /* border:2px solid rgb(51, 0, 255); */

    width: 13%;
    text-align: left;
    margin-left:3%;

}
.footThree p{
    color:black;
    font-size: 14px;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;

}
.footThree h2{
    color:black;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;

}
.footFoure{
    width: 15%;
    margin-left: 19px;
    text-align: left;
    /* border: 2px solid red; */

}
.footFoure p{
    color:black;
    font-size: 15px;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;

}
.footFoure h2{
    color:black;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;

}
.footFive{
    margin-left: 55px;
    text-align: left;   

}
.footFive p{
    color:black;
    font-size: 15px;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;

}
.footFive h2{
    color:black;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;

}
.verticle{
    border: 1px solid white;
    color: black;
    height: 250px;
}
.facebook img{
   height: 30px;
   border-radius: 10px;
}
.containericon{
    width: 48%;
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    /* border:2px solid red; */
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;

}
.main{
    text-align: left;
    margin-left: 5%;
    width: 20%;
    color: black;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;

}